.hero{
    height:100vh;
    /* background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);   */
    /* background: url(https://www.buniyaa.com/cdn/shop/articles/WhatsApp_Image_2022-09-24_at_18.36.18.jpg?v=1664029013); */
    display: flex;
} 
.main-image{
    width:100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /* z-index: 0; */
}
.main-h2{
    font-size: 80px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    margin-top: 30px;
    color: brown;
    padding: 20px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 0;
}
.main-h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.hero-para{
        font-size: 60px;
        position: absolute;
        background-size: cover;
}
/* /* .hero-left{
    flex:1;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    /* padding-left:180px; */
    /* line-height:1.1; */
/* }   */
/* .hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color:#171717;
    font-size: 100px;
    font-weight: 700;
    position: absolute;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap:20px
}
.hero-hand-icon img{
    width: 105px;

} */ */
/* .hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:15px;
    width:310px;
    height:70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    position: absolute;

} */
.btn{
    background-color: darkolivegreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px;
    width:310px;
    background-color: red;
    height:70px; */
}
/* .hero-right{
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    
    
} */